{% load static %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="msvalidate.01" content="53D0EDB6F3575644484AA8E0F829725A" />
  <style type="text/css">
  #v_id{border:1px sold #fff}.gly-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0)}100%{-o-transform:rotate(359deg)}}@keyframes spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
  </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="youtube,mp3,converter,mp3 downloader">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Fastest Youtube to mp3 Converter online. It converts youtube video to mp3 (audio) .">
    <meta name="author" content="Shriniket Deshmukh">
    <meta name="google-site-verification" content="qfklzXawE9NIPtJ610evPeB9g4TDpAusvRpA3a_BpjU" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>You2Mp3 (youtube to mp3) Converter | Fast Convert Youtube Videos to MP3 Online</title>

  </head>
  <body>
    <div class="hidden-sm">
        <br/><br/><br/><br/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1>You2Mp3 Converter</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Copy youtube video URL | Paste URL | Download & Share! </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/><br/>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8   col-md-offset-2">
                    <form action="/search/autosuggest/" method="POST">
                        {% csrf_token %}    
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="Enter Valid Youtube URL" name="term"  autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-lg" type="submit">Search<!--<i class="glyphicon glyphicon-download" id="downloader"></i>--></button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>
<br/>
<!--
<div class="container">
    <div class="row">
        <div class="col-md-10 text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                    {% post_to_facebook object_or_url "Facebook!" %}
                </div>

                <div class="col-md-2">
                    {% post_to_twitter "https://www.you2mp3.online/"  %}
                </div>

                <div class="col-md-2">
                    {% post_to_reddit "https://www.you2mp3.online/"  %}
                </div>

                <div class="col-md-2">
                    {% post_to_whatsapp object_or_url "WhatsApp" %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="container">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <h3 id="message"></h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        {% if songs %}
		{% for song in songs %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-justify well well-lg" style="background-color: white;">
                <div class="row">
                    <div class="col-md-8">
                        <div><b>{{song.title}}</b></div>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <a class="btn btn-block btn-success" href="/search/search/?song_id={{song.id}}&format=m4a">DOwnload</a>
                    </div>
                </div>
                
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
<br/><br/><br/>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-justify">
                <h4>
                    <p><b>You2mp3 Converter</b> is the best <b>youtube to mp3 converter.</b>
It converts from youtube to mp3 in no time. Downloaded mp3 is highly compressed.
It will also help you to download mp3 from youtube video with best (<b>320 kbps audio</b>) quality available.
Ultimate time saver  <b>for youtube to mp3 download</b>.
</p>
<p>It is a completely free tool, which works best on computers, tablets and mobile devices.
</p>
<p>To convert a video, copy the YouTube video URL into our converter, and click download. As soon as conversion is finished,file will be downloaded as mp3. <b>No limit</b> on download size.</p>
<p>You can also <b>share your mp3</b> on <b>Facebook</b> & <b>Whatsapp!</b></p>
<p>Hope you like it!</p>
                </h4>
                <br/>
                <p><a href="https://shriniket.home.blog/">About Developer</a> | <a href="mailto:shriniketdeshmukh111@gmail.com">Report Issue</a>  | <a href="https://paypal.me/ShriniketDeshmukh">Donate</a> | &copy; Copyright 2020 shriniket.deshmukh</p>
            </div>
        </div>
    </div>
</div>
</div>

<footer><a href="#"></a></footer>
<!-- CLEAR FIX EXXAMPLE -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <div class="clearfix hidden-lg hidden-sm"-->
<!--best site-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script src="{% static "js/jquery.min.js" %}"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<script type="text/javascript">


// async function paste() {
//   const text = await navigator.clipboard.readText();
//   if(text.match(/(http:|https:)?(\/\/)?(www\.)?(youtube.com|youtu.be)\/(watch|embed)?(\?v=|\/)?(\S+)?/)){
//     $( "#v_id" ).val(text);
//   }

// }

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$('#clk').click(function(){

    var q=$("#v_id").val();

    if(!q.match(/(http:|https:)?(\/\/)?(www\.)?(youtube.com|youtu.be)\/(watch|embed)?(\?v=|\/)?(\S+)?/)){
        $('#v_id').css({"border":"1px solid red"});
        return False;
    }else{
        $('#v_id').css({"border":"1px solid white"});
    }

    $('#downloader').removeClass("glyphicon-download");
    $('#downloader').addClass("glyphicon-refresh");
    $('#downloader').addClass("gly-spin");

    $('#message').text("Downloading ... ");

    $.ajax({
        type: 'POST',
        data:{"query":q},
        url:'/search/search/',
        dataType: "json",
        xhrFields: {
            withCredentials: true
        },
        crossDomain: true,
        success: function(result) {

            if(result.INVALID_URL == 'INVALID'){
                $('#downloader').removeClass("glyphicon-refresh");
                $('#downloader').removeClass("gly-spin");
                $('#downloader').addClass("glyphicon-download");
                $('#v_id').css({"border":"1px solid red"});

                return false;
            }
            if(result.INVALID_CHANNEL == 'CHANNEL'){
                alert('Channels are not allowed!');
                $('#downloader').removeClass("glyphicon-refresh");
                $('#downloader').removeClass("gly-spin");
                $('#downloader').addClass("glyphicon-download");
                return false;
            }
             $('#downloader').removeClass("glyphicon-refresh");
             $('#downloader').removeClass("gly-spin");
             $('#downloader').addClass("glyphicon-download");

             $('#message').text("");

            //share on fb
             var fb_link=$(".facebook-this").find("a").attr('href');
             fb_link+="download/"+result.url_link;
             $(".facebook-this").find("a").attr('href',fb_link);

             var wp_link=$(".whatsapp-this").find("a").attr('href');
             wp_link+="download/"+result.url_link;
             $(".whatsapp-this").find("a").attr('href',wp_link);

             window.location='download/'+result.url_link;
        }
    });

});





</script>
<!--ANALYTICS -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143597131-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143597131-3');
</script>
<!--ENDS HERE -->
  </body>
</html>